.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh; /* Занимает всю высоту видимой области */
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}
form input, form button {
    margin: 10px 0;
}

.toast-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 1055;
}